@import "../../app";
.testimonial-section {
  display: flex;
  flex-flow: column;
  gap: 40px;
  background-color: #000;
  color: $white;
  padding: 48px 18px;
  position: relative;
}
.testimonial-title-container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 18px;

  h2 {
    text-transform: uppercase;
    font-family: $font-stack;
    line-height: 108%;
    font-size: 44px;
    letter-spacing: -0.64px;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    margin-top: 4px;
    line-height: 170%;
    letter-spacing: 0.24px;
  }
}
.testimonial-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
  margin-top: 18px;
  color: $yellow;
}
.testimonials-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  gap: 12px;
  align-items: stretch;
}
.testimonial {
  width: 100%;
  position: relative;
  height: 268px;
  z-index: 100;
}
.testimonial-wrapper {
  z-index: 100;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.testimonial-image {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    z-index: -100;

}
.video-state-button {
z-index: 120;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0%;
}
.pause {
  z-index: 100;
  border-radius: 50px;
  background-color: #ffffff1a;
  backdrop-filter: blur(16px);
padding: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.play {
  z-index: 100;
  border-radius: 50px;
  background-color: #ffffff1a;
  backdrop-filter: blur(16px);
padding: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.testimonial-video-title {
  z-index: 101;
  position: absolute;
  inset: auto 0% 0%;
  // top: 100%;
  display: flex;
  padding: 8px;
  gap: 12px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.textimonial-text-container {
    display: flex;
    gap: 4px;
    flex-flow: column;
    align-items: flex-start;
    order: -1;
    
    h4 {
      color: $white;
      text-transform: uppercase;
      font-family: $font-stack;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
    }
    p{
      color: #fff9;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
}
.testimonial-rate-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: flex-end;
  order: -1;

  div {
    display: flex;
    align-items: center;
    gap: 2px;

    p {
      font-size: 14px;
    }
  }
  h4 {
    font-weight: 300;
    line-height: 14px;
    font-size: 12px;
    color: #fff9;
  }
}
.testimonial-black-overlay {
  z-index: 100;
  background-image: linear-gradient(#fff0, #0009);
  position: absolute;
  inset: 0%;
}
@media (min-width: 480px) {
    .testimonials-container {
  flex-flow: row;
}
}

